* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(6, 6, 177);
}

:root {
    --img-size: 13em;
}


main {
    width: 100%;
    height: 100vh;
}

#imageDrag_phrase {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.imgPhrase {

    min-width: 60%;
    height: 100%;
    text-align: center;
    display: inline-block;
}

.phraseBox {
    width: 100%;
    height: 70px;
    display: inline-block;
}

.phrase {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5em;
}

.imageTarget {
    border: dashed 10px rgba(255, 255, 255, 0.753);
    width: var(--img-size);
    height: var(--img-size);
    margin: 20px;
    display: inline-block;
    border-radius: 3%;
}

.imageTarget > img {
    width: 100%;
    height: 100%;
}

section#collection_card {

    width: 100%;
    height: 40vh;
}

.imagesCollection {

    width: 98%;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

.cards {
    text-align: center;
}

.card {
    border: solid 2px white;
    width: var(--img-size);
    height: var(--img-size);
    display: inline-block;
    margin: 15px 30px;
    border-radius: 3%;
}

.card > img {
    width: 100%;
    height: 100%;
}

#point_sum {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    margin-top: 30px;
}