
#login {
    background-color: rgba(65, 109, 255, 0.671);
    height: 100vh;
    position: absolute;
    text-align: center;
    z-index: 98;
    width: 100vw;
}

.form {
    width: 700px;
    height: 400px;
    text-align: center;
    display: inline-block;
    background-color: rgb(6, 6, 177);
    margin-top: 12%;
}

.players_login {
    /* margin-top: 14%; */
}

.name_game {
    font-family: 'Indie Flower', cursive;
    font-family: 'Nerko One', cursive;
    font-size: 60px;
    margin-top: 50px;
    color: orange;
    text-shadow: 5px 5px 0px black;
}

.input_login, .button_play {
    /* padding: 5%;
    padding-left: 8%; */
}

#nickname_1 {
    display: inline;
    /* margin-top: 20px; */
    margin: 25px;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: xx-large;
}


.button_play {
    /* margin-top: 50px; */
    /* margin-left: 10px; */
    
}

button {
    border-color: orange;
    background-color: orange;
    border-radius: 10%;
    width:200px;
    height:60px;
    font-size: x-large;
    color: rgb(55, 55, 239);
    box-shadow: 3px 3px 0px black;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: xx-large;
}

input {
    outline:none;
}

button:hover{
    background-color: red;
    border-color: red;
    color: white;
    box-shadow: none;
}



