* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(6, 6, 177, 0.432);
}

:root {
    --img-size: 13em;
}


main {
    width: 100%;
    height: 100vh;
}

#imageDrag_phrase {
    border: solid 2px yellow;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.imgPhrase {
    border: solid 2px black;
    min-width: 60%;
    height: 100%;
    text-align: center;
    display: inline-block;
}

/* .boximgPhrase {
    border: solid 2px rgb(211, 1, 253);
    width: 600px;
    height: 90%;
    margin-top: 1em;
    display: inline-block;
    text-align: center;
} */

.phraseBox {
    border: solid 2px rgb(43, 253, 1);
    width: 100%;
    height: 70px;
    display: inline-block;
}

.phrase {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}


.imageTarget {
    border: dashed 10px rgba(255, 255, 255, 0.753);
    width: 17em;
    height: 17em;
    margin: 20px;
    display: inline-block;
}

.imageTarget > img {
    width: 100%;
    height: 100%;
}

section#collection_card {
    border: solid 2px rgb(255, 8, 185);
    width: 100%;
    height: 40vh;
}

.imagesCollection {
    border: solid 2px rgb(2, 166, 255);
    width: 98%;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

.cards {
    text-align: center;
}

.card {
    border: solid 2px white;
    width: var(--img-size);
    height: var(--img-size);
    display: inline-block;
    margin: 15px 30px;
}

.card > img {
    width: 100%;
    height: 100%;
}